<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Management</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="font-sans leading-normal tracking-normal bg-white">
        <!-- Menu Button -->
        <button
            id="sidebar-toggle"
            class="text-white focus:outline-none bg-gray-700 p-2.5 fixed top-2.5 left-2.5 z-30"
        >
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"></path>
            </svg>
        </button>

        <!-- Sidebar -->
        <div
            id="sidebar"
            class="fixed inset-y-0 left-0 z-20 w-64 px-2 space-y-6 transition-transform duration-500 ease-in-out transform -translate-x-full bg-white shadow-md py-7"
            style="will-change: transform"
        >
            <a href="#" class="flex items-center px-4 space-x-2 text-gray-800">
                <span class="mt-10 text-2xl font-medium">Menu</span>
            </a>
            <!-- Sidebar content -->
            <nav class="text-base text-black">
                <a
                    href="admin_page_alert.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    User Alter Management
                </a>
                <a
                    href="admin_simulation.html"
                    class="flex items-center justify-center hover:border-l-4 hover:border-gray-700 px-10 py-5 border-t border-b border-gray-300 text-sm"
                >
                    Flood Prediction
                </a>
                <a
                    href="data_management.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Data Management
                </a>
                <!-- <a
                    href="admin_access.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Admin Management
                </a>
                <a
                    href="email.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Email
                </a> -->
                <a
                    href="admin_file"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    File Management
                </a>
                <a
                    href="admin_faq"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    FAQ Management
                </a>
                <a
                    href="weather_forecast.html"
                    class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Logout Page
                </a>
            </nav>
        </div>

        <!-- Header -->
        <nav class="fixed z-10 w-full p-4 bg-gray-700">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center flex-shrink-0 mr-6 text-white">
                    <span class="text-xl font-semibold tracking-tight mx-14"
                        >Hong Kong Flood</span
                    >
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main
            class="p-8 duration-500 ease-in-out transition-padding"
            id="main-content"
            style="will-change: padding"
        >
    
            <!-- User Management title-->
            <div class="pb-2 mx-10 overflow-hidden border-b border-gray-700">
                <div class="flex items-center justify-between p-5 mx-10 mt-8">
                    <div class="text-xl font-bold">Admin Management</div>
                    <button
                        class="px-10 py-2 text-sm text-white bg-gray-500 rounded-full hover:bg-gray-700"
                    >
                        Add new admin
                    </button>
                </div>
            </div>
            <!-- User Management table-->
            <div class="p-3 mx-32 mt-5 overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead
                        class="overflow-hidden bg-white border border-gray-200 shadow sm:rounded-xl"
                    >
                        <tr>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Id
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                E-Mail
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Location
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Warning
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Active Date
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Edit
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        <tr>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                001
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                scarlettjohansson@gmail.com
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                CONSUMIDORA
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                Rainfall, Flood
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                17/06/2020
                            </td>
                            <td
                                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                            >
                                <button
                                    type="button"
                                    class="flex items-center text-gray-900 menu-button hover:text-blue-600"
                                    aria-expanded="true"
                                    aria-haspopup="true"
                                >
                                    <ion-icon
                                        name="ellipsis-vertical"
                                    ></ion-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                001
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                scarlettjohansson@gmail.com
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                CONSUMIDORA
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                Rainfall, Flood
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                17/06/2020
                            </td>
                            <td
                                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                            >
                                <button
                                    type="button"
                                    class="flex items-center text-gray-900 menu-button hover:text-blue-600"
                                    aria-expanded="true"
                                    aria-haspopup="true"
                                >
                                    <ion-icon
                                        name="ellipsis-vertical"
                                    ></ion-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                001
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                scarlettjohansson@gmail.com
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                CONSUMIDORA
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                Rainfall, Flood
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                17/06/2020
                            </td>
                            <td
                                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                            >
                                <button
                                    type="button"
                                    class="flex items-center text-gray-900 menu-button hover:text-blue-600"
                                    aria-expanded="true"
                                    aria-haspopup="true"
                                >
                                    <ion-icon
                                        name="ellipsis-vertical"
                                    ></ion-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                001
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                scarlettjohansson@gmail.com
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                CONSUMIDORA
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                Rainfall, Flood
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                17/06/2020
                            </td>
                            <td
                                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                            >
                                <button
                                    type="button"
                                    class="flex items-center text-gray-900 menu-button hover:text-blue-600"
                                    aria-expanded="true"
                                    aria-haspopup="true"
                                >
                                    <ion-icon
                                        name="ellipsis-vertical"
                                    ></ion-icon>
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                001
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                scarlettjohansson@gmail.com
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                CONSUMIDORA
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                Rainfall, Flood
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                17/06/2020
                            </td>
                            <td
                                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                            >
                                <button
                                    type="button"
                                    class="flex items-center text-gray-900 menu-button hover:text-blue-600"
                                    aria-expanded="true"
                                    aria-haspopup="true"
                                >
                                    <ion-icon
                                        name="ellipsis-vertical"
                                    ></ion-icon>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <!-- Alter history title-->
            </div>
        </main>

        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
