<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Admin Management</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="font-sans leading-normal tracking-normal bg-white">
        <!-- Menu Button -->
        <button
            id="sidebar-toggle"
            class="text-white focus:outline-none bg-gray-700 p-2.5 fixed top-2.5 left-2.5 z-30"
        >
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"></path>
            </svg>
        </button>

        <!-- Sidebar -->
        <div
            id="sidebar"
            class="fixed inset-y-0 left-0 z-20 w-64 px-2 space-y-6 transition-transform duration-500 ease-in-out transform -translate-x-full bg-white shadow-md py-7"
            style="will-change: transform"
        >
            <a href="#" class="flex items-center px-4 space-x-2 text-gray-800">
                <span class="mt-10 text-2xl font-medium">Menu</span>
            </a>
            <!-- Sidebar content -->
            <nav class="text-base text-black">
                <a
                    href="admin_page_alert.html"
                    class="flex items-center justify-center px-5 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Notification Management
                </a>
                <a
                    href="admin_flood_prediction.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Flood Prediction
                </a>
                <a
                    href="admin_weather_forecast.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Weather Forecast
                </a>
                <a
                    href="admin_file"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    File Management
                </a>
                <a
                    href="admin_faq"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    FAQ Management
                </a>
                <a
                    href="admin_user"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    User Management
                </a>
                <div>
                {% if session.logged_in %}
                    <a href="{{ url_for('logout') }}"
                       class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ url_for('login') }}"
                       class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                        Login
                    </a>
                {% endif %}
            </div>
                <!--
                <a
                    href="data_management.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Data Management
                </a>
                <a
                    href="admin_access.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Admin Management
                </a>
                <a
                    href="email.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Email
                </a> -->
            </nav>
        </div>

        <!-- Header -->
        <nav class="fixed z-10 w-full p-4 bg-gray-700">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center flex-shrink-0 mr-6 text-white">
                    <span class="text-xl font-semibold tracking-tight mx-14"
                        >Hong Kong Flood</span
                    >
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main
            class="p-8 duration-500 ease-in-out transition-padding"
            id="main-content"
            style="will-change: padding"
        >
            <!-- Top black area-->
            <div class="h-[55px] bg-gray-700"></div>
            <!-- User Management title-->
            <div
                class="p-5 mx-10 mt-8 text-xl font-bold border-b border-gray-700"
            >
                Notification Management
            </div>
            <!-- User Management table-->
            <div class="p-3 mx-32 mt-5 overflow-hidden">
                <table class="min-w-full divide-y divide-gray-200">
                    <thead
                        class="overflow-hidden bg-white border border-gray-200 shadow sm:rounded-xl"
                    >
                        <tr>
                            <!-- <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Id
                            </th> -->
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Location
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Name
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Email
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Rainfall
                            </th>
                            <th
                                scope="col"
                                class="px-6 py-3 text-xs font-medium tracking-wider text-left text-gray-500 uppercase"
                            >
                                Flood
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        {% for row in data %}
                        <tr>
                            <!-- <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                {{ row['Id'] }}
                            </td> -->
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                {{ row['Location'] }}
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                {{ row['Name'] }}
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                {{ row['Email'] }}
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                {% if row['Rainfall Alert'] == 'True' %}
                                Registered {% else %} Not Registered {% endif %}
                            </td>
                            <td
                                class="px-6 py-4 text-sm text-gray-900 whitespace-nowrap"
                            >
                                {% if row['Flood Alert'] == 'True' %} Registered
                                {% else %} Not Registered {% endif %}
                            </td>

                            <!-- <td
                                class="px-6 py-4 text-sm font-medium text-right whitespace-nowrap"
                            >
                                <button
                                    type="button"
                                    class="flex items-center text-gray-900 menu-button hover:text-blue-600"
                                    aria-expanded="true"
                                    aria-haspopup="true"
                                >
                                    <ion-icon
                                        name="ellipsis-vertical"
                                    ></ion-icon>
                                </button>
                            </td> -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="flex flex-col mt-10">
                    <div class="flex">
                        <div class="w-1/4">
                            <button
                                id="sendNotificationBtn"
                                class="w-full px-10 py-1 text-sm text-white bg-gray-500 rounded-full hover:bg-gray-700"
                            >
                                Send Weather Notification
                            </button>
                        </div>
                        <div class="w-3/4 ml-5">
                            <!-- <div class="w-1/8">Desc:</div> -->
                            Send Weather Forecast
                        </div>
                    </div>
                    <div class="flex mt-5">
                        <div class="w-1/4">
                            <button
                                id="sendAlertAmber"
                                class="w-full px-10 py-1 text-sm text-white bg-yellow-500 rounded-full hover:bg-gray-700"
                            >
                                Send AMBER RAINSTORM SIGNAL
                            </button>
                        </div>
                        <div class="w-3/4 ml-5">
                            <!-- <div class="ml-5 w-1/8">Desc:</div> -->
                            <p>
                                Heavy rain has fallen or is expected to fall
                                generally over Hong Kong, exceeding 30
                                millimetres in an hour, and is likely to
                                continue.
                            </p>
                            &nbsp;&nbsp;
                            <p>
                                - Members of the public should take necessary
                                precautions to reduce their exposure to risk
                                posed by heavy rain, such as flooding. Going
                                near easily flooded watercourses should also be
                                avoided.
                            </p>

                            <p>
                                - Parents, students, school authorities and
                                school-bus drivers should listen to radio or
                                television announcements on the weather, road
                                and traffic conditions.
                            </p>

                            <p>
                                - Candidates for public examinations should
                                attend the examination as normal, but should
                                listen to radio or watch television in case the
                                weather deteriorates suddenly.
                            </p>

                            <p>
                                - Farmers and fish pond owners, particularly
                                those in low lying or flood frequented areas,
                                should take the necessary precautions to
                                minimise losses, which include checking and
                                clearing the drainage system within and around
                                the farm/fish ponds to ensure that all the
                                drains are not blocked. Where possible, fish
                                pond operators should reduce the water level of
                                ponds which are likely to be flooded.
                            </p>
                        </div>
                    </div>
                    <div class="flex mt-5">
                        <div class="w-1/4">
                            <button
                                id="sendAlertRed"
                                class="w-full px-10 py-1 text-sm text-white bg-red-500 rounded-full hover:bg-gray-700"
                            >
                                Send RED RAINSTORM SIGNAL
                            </button>
                        </div>
                        <div class="w-3/4 ml-5">
                            <p>
                                Heavy rain has fallen or is expected to fall
                                generally over Hong Kong, exceeding 50
                                millimetres in an hour, and is likely to
                                continue.
                            </p>
                            &nbsp;&nbsp;
                            <p>
                                - Employees working outdoors in areas exposed to
                                rain should suspend outdoor duties if weather
                                conditions in those areas so warrant.
                            </p>

                            <p>
                                - People who have to travel should carefully
                                consider weather and road conditions.
                            </p>

                            <p>
                                - If the RED signal is issued before working
                                hours, employees should report for duty as
                                usual, provided that transport services are
                                available. Supervisors are encouraged to adopt a
                                flexible attitude in case their staff have
                                genuine difficulties in arriving at work on
                                time.
                            </p>

                            <p>
                                - If the RED signal is issued during office
                                hours, employees working indoors should remain
                                on duty as usual unless it is dangerous to do
                                so. Employees in areas where transport services
                                are about to be suspended can be exceptionally
                                released at the discretion of the supervisor. In
                                exercising their discretion, supervisors should
                                take into account the weather and road
                                conditions.
                            </p>
                        </div>
                    </div>
                    <div class="flex mt-5">
                        <div class="w-1/4">
                            <button
                                id="sendAlertBlack"
                                class="w-full px-10 py-1 text-sm text-white bg-black rounded-full hover:bg-gray-700"
                            >
                                Send BLACK RAINSTORM SIGNAL
                            </button>
                        </div>
                        <div class="w-3/4 ml-5">
                            <p>
                                Very heavy rain has fallen or is expected to
                                fall generally over Hong Kong, exceeding 70
                                millimetres in an hour, and is likely to
                                continue.
                            </p>
                            &nbsp;&nbsp;
                            <p>
                                - Stay indoors or take shelter in a safe place
                                until the heavy rain has passed.
                            </p>

                            <p>
                                - Employees working outdoors in exposed areas
                                should stop work and take shelter.
                            </p>

                            <p>
                                - People having no safe place to go may take
                                temporary refuge in any of the special temporary
                                shelters opened by the Home Affairs Department.
                            </p>

                            <p>
                                - Employers are advised not to require their
                                employees to go to work unless prior agreement
                                on work arrangements during rainstorms has been
                                made.
                            </p>

                            <p>
                                - People who are already at work should stay
                                where they are unless it is dangerous to do so.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div>
                &nbsp; &nbsp; -->
                <!-- Alter history title-->
                <!-- <div class="pl-5 mx-10 mt-10 text-xl font-bold">
                    Alert History
                </div> -->
                <!-- Alert History  search area-->
                <!-- <div
                    class="pb-2 mx-10 overflow-hidden border-b border-gray-700"
                >
                    <div class="flex items-center justify-end space-x-3">
                        <span class="text-sm text-gray-700">Show by:</span>
                        <button
                            class="px-10 py-1 text-sm text-white bg-gray-500 rounded-full hover:bg-gray-700"
                        >
                            All
                        </button>
                        <button
                            class="px-10 py-1 text-sm text-white bg-gray-500 rounded-full hover:bg-gray-700"
                        >
                            FLOOD
                        </button>
                        <button
                            class="px-10 py-1 text-sm text-white bg-gray-500 rounded-full hover:bg-gray-700"
                        >
                            RAINFALL
                        </button>
                        <span class="text-sm text-gray-700">or</span>
                        <div class="relative">
                            <input
                                type="text"
                                placeholder="Search By Location"
                                class="py-1 pl-4 pr-10 text-sm border border-gray-300 rounded-full"
                            />
                            <ion-icon
                                name="search-outline"
                                class="absolute text-lg text-gray-500 transform -translate-y-1/2 right-2 top-1/2"
                            ></ion-icon>
                        </div>
                    </div>
                </div> -->
                <!-- History data-->
                <!-- <div class="mx-10 overflow-hidden"> -->
                    <!-- Alert Item -->
                    <!-- <div
                        class="flex items-center px-4 py-1 mt-3 space-x-3 border border-gray-500 rounded"
                    >
                        <div class="text-red-500">
                            <ion-icon
                                name="alert-circle"
                                size="large"
                            ></ion-icon>
                        </div>
                        <p class="flex-grow text-sm font-semibold text-red-500">
                            Heavy Rain Advisory In Effect From Early This
                            Afternoon (03/28) Through This Evening (03/28)
                        </p>
                        <div class="text-gray-700">
                            <ion-icon
                                name="chevron-forward-outline"
                                size="large"
                            ></ion-icon>
                        </div>
                    </div> -->
                    <!-- <div
                        class="flex items-center px-4 py-1 mt-3 space-x-3 border border-gray-500 rounded"
                    >
                        <div class="text-red-500">
                            <ion-icon
                                name="alert-circle"
                                size="large"
                            ></ion-icon>
                        </div>
                        <p class="flex-grow text-sm font-semibold text-red-500">
                            Heavy Rain Advisory In Effect From Early This
                            Afternoon (03/28) Through This Evening (03/28)
                        </p>
                        <div class="text-gray-700">
                            <ion-icon
                                name="chevron-forward-outline"
                                size="large"
                            ></ion-icon>
                        </div>
                    </div> -->
                    <!-- <div
                        class="flex items-center px-4 py-1 mt-3 space-x-3 border border-gray-500 rounded"
                    >
                        <div class="text-red-500">
                            <ion-icon
                                name="alert-circle"
                                size="large"
                            ></ion-icon>
                        </div>
                        <p class="flex-grow text-sm font-semibold text-red-500">
                            Heavy Rain Advisory In Effect From Early This
                            Afternoon (03/28) Through This Evening (03/28)
                        </p>
                        <div class="text-gray-700">
                            <ion-icon
                                name="chevron-forward-outline"
                                size="large"
                            ></ion-icon>
                        </div>
                    </div> -->
                <!-- </div>
            </div> -->
        </main>

        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
        <script>
            document
                .getElementById("sendNotificationBtn")
                .addEventListener("click", function () {
                    // Make a request to the /send_email route
                    fetch("/send_notification", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            recipient_email: "104341635@student.swin.edu.au",
                        }),
                    })
                        .then((response) => {
                            if (!response.ok) {
                                // throw new Error("Failed to send notification");
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data.message); // Log the response message
                            // Optionally, display a success message to the user
                            alert("Notification sent successfully");
                        })
                        .catch((error) => {
                            // console.error("Error sending notification:", error);
                            // // Optionally, display an error message to the user
                            // alert(
                            //     "Failed to send notification. Please try again later."
                            // );
                        });
                });
            document
                .getElementById("sendAlertAmber")
                .addEventListener("click", function () {
                    // Make a request to the /send_email route
                    fetch("/send_alert_amber", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            recipient_email: "104341635@student.swin.edu.au",
                        }),
                    })
                        .then((response) => {
                            if (!response.ok) {
                                // throw new Error("Failed to send notification");
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data.message); // Log the response message
                            // Optionally, display a success message to the user
                            alert("Notification sent successfully");
                        })
                        .catch((error) => {
                            // console.error("Error sending notification:", error);
                            // // Optionally, display an error message to the user
                            // alert(
                            //     "Failed to send notification. Please try again later."
                            // );
                        });
                });
            document
                .getElementById("sendAlertRed")
                .addEventListener("click", function () {
                    // Make a request to the /send_email route
                    fetch("/send_alert_red", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            recipient_email: "104341635@student.swin.edu.au",
                        }),
                    })
                        .then((response) => {
                            if (!response.ok) {
                                // throw new Error("Failed to send notification");
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data.message); // Log the response message
                            // Optionally, display a success message to the user
                            alert("Notification sent successfully");
                        })
                        .catch((error) => {
                            // console.error("Error sending notification:", error);
                            // // Optionally, display an error message to the user
                            // alert(
                            //     "Failed to send notification. Please try again later."
                            // );
                        });
                });
            document
                .getElementById("sendAlertBlack")
                .addEventListener("click", function () {
                    // Make a request to the /send_email route
                    fetch("/send_alert_black", {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            recipient_email: "104341635@student.swin.edu.au",
                        }),
                    })
                        .then((response) => {
                            if (!response.ok) {
                                // throw new Error("Failed to send notification");
                            }
                            return response.json();
                        })
                        .then((data) => {
                            console.log(data.message); // Log the response message
                            // Optionally, display a success message to the user
                            alert("Notification sent successfully");
                        })
                        .catch((error) => {
                            console.error("Error sending notification:", error);
                            // Optionally, display an error message to the user
                            // alert(
                            //     "Failed to send notification. Please try again later."
                            // );
                        });
                });
        </script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
