<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>FAQ</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="font-sans leading-normal tracking-normal bg-gray-100">
        <!-- Menu Button -->
        <button
            id="sidebar-toggle"
            class="text-white focus:outline-none bg-gray-700 p-2.5 fixed top-2.5 left-2.5 z-30"
        >
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"></path>
            </svg>
        </button>

        <!-- Sidebar -->
        <div
            id="sidebar"
            class="fixed inset-y-0 left-0 z-20 w-64 px-2 space-y-6 transition-transform duration-500 ease-in-out transform -translate-x-full bg-white shadow-md py-7"
            style="will-change: transform"
        >
            <!-- Sidebar content -->
            <nav class="text-base text-black">
                <a
                    href="warning.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Warning
                </a>
                <a
                    href="weather_forecast.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Weather Forecast
                </a>
                <a
                    href="history.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Historical data
                </a>
                <a
                    href="faq.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    FAQ
                </a>
                <a
                    href="contact.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Contact
                </a>
                <a
                    href="noti.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Notification Setting
                </a>
                <a
                    href="admin_access.html"
                    class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Admin Page
                </a>
            </nav>
        </div>

        <!-- Header -->
        <nav class="fixed z-10 w-full p-4 bg-gray-700">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center flex-shrink-0 mr-6 text-white">
                    <span class="text-xl font-semibold tracking-tight mx-14"
                        >Hong Kong Flood</span
                    >
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main
            class="p-8 pt-16 duration-500 ease-in-out transition-padding"
            id="main-content"
            style="will-change: padding"
        >
            <div class="max-w-4xl px-8 mx-auto">
                <!-- FAQ Section -->
                <h2 class="my-10 text-4xl font-bold text-center">
                    Ask Us Anything
                </h2>
                <p class="mb-10 text-center">
                    Have any questions? We are here to assist you.
                </p>

                <!-- Search Bar -->
                <form
                    id="searchForm"
                    class="mb-12 bg-white rounded-full shadow-xl"
                >
                    <div class="flex items-center">
                        <input
                            id="searchInput"
                            class="w-full px-4 py-3 leading-tight text-gray-700 rounded-l-full focus:outline-none"
                            type="text"
                            placeholder="Search Here"
                        />
                        <div class="p-2">
                            <button
                                id="searchButton"
                                class="flex items-center justify-center w-10 h-10 p-2 text-white bg-blue-500 rounded-full hover:bg-blue-400 focus:outline-none"
                            >
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>

                <!-- Search Results -->
                <div id="searchResults"></div>

                <!-- Accordion -->
                <div id="accordion" class="space-y-4">
                    <!-- Accordion Item -->
                    {% for faq_item in faq_data %}
                    <div class="bg-white rounded-lg accordion-item">
                        <h3
                            class="flex items-center justify-between px-4 py-3 rounded-lg cursor-pointer accordion-header"
                        >
                            <span class="font-semibold"
                                >Q: {{ faq_item['question'] }}</span
                            >
                            <button class="text-navy-500">
                                <i class="fas fa-plus"></i>
                            </button>
                        </h3>
                        <div class="hidden p-4 accordion-panel">
                            <p>A: {{ faq_item['answer'] }}</p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </main>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                // Function to toggle the accordion
                function toggleAccordion(event) {
                    const itemToggle =
                        event.target.closest(".accordion-header");

                    if (itemToggle) {
                        event.preventDefault();
                        const item = itemToggle.parentElement;
                        const itemPanel = itemToggle.nextElementSibling;

                        itemPanel.style.display =
                            itemPanel.style.display === "block"
                                ? "none"
                                : "block";
                        itemToggle.classList.toggle("active");

                        // Update the icon based on the accordion state
                        const icon = itemToggle.querySelector("i");
                        icon.className =
                            itemPanel.style.display === "block"
                                ? "fas fa-minus"
                                : "fas fa-plus";
                    }
                }

                // Initialize accordion state
                const accordionItems =
                    document.querySelectorAll(".accordion-item");
                accordionItems.forEach((item) => {
                    const panel = item.querySelector(".accordion-panel");
                    if (panel.style.display === "block") {
                        const header = item.querySelector(".accordion-header");
                        header.classList.add("active");
                        const icon = header.querySelector("i");
                        icon.className = "fas fa-minus";
                    }
                });

                document
                    .getElementById("accordion")
                    .addEventListener("click", toggleAccordion);

                document
                    .getElementById("searchButton")
                    .addEventListener("click", function (event) {
                        event.preventDefault();
                        const query = document
                            .getElementById("searchInput")
                            .value.toLowerCase();

                        // Send a POST request to the Flask backend
                        fetch("/search", {
                            method: "POST",
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({ query: query }),
                        })
                            .then((response) => response.json())
                            .then((data) => {
                                // Clear previous results
                                const searchResultsContainer =
                                    document.getElementById("searchResults");
                                searchResultsContainer.innerHTML = "";

                                // Display the best match question and answer
                                const resultElement =
                                    document.createElement("div");
                                resultElement.classList.add(
                                    "bg-white",
                                    "rounded-lg",
                                    "p-4",
                                    "mb-4"
                                );
                                resultElement.innerHTML = `
                <h3 class="font-semibold">Q: ${data.best_match_question.question}</h3>
                <p>A: ${data.best_match_question.answer}</p>`;
                                searchResultsContainer.appendChild(
                                    resultElement
                                );
                            })
                            .catch((error) => {
                                console.error("Error:", error);
                            });
                    });
            });
        </script>
    </body>
</html>
