<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>File Management</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="font-sans leading-normal tracking-normal bg-white">
        <!-- Menu Button -->
        <button id="sidebar-toggle" class="text-white focus:outline-none bg-gray-700 p-2.5 fixed top-2.5 left-2.5 z-30">
          <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
            <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"></path>
          </svg>
        </button>
<!-- Sidebar -->
<div id="sidebar"
  class="fixed inset-y-0 left-0 z-20 w-64 px-2 space-y-6 transition-transform duration-500 ease-in-out transform -translate-x-full bg-white shadow-md py-7"
  style="will-change: transform">
  <a href="#" class="flex items-center px-4 space-x-2 text-gray-800">
    <span class="mt-10 text-2xl font-medium">Menu</span>
  </a>
  <!-- Sidebar content -->
  <nav class="text-base text-black">
    <a href="rainfallmap.html"
      class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
      Rainfall Map
    </a>
    <a href="weather_forecast.html"
      class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
      Weather Forecast
    </a>
    <a href="history.html"
      class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
      Historical data
    </a>
    <a href="faq.html"
      class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
      FAQ
    </a>
    <a href="user_contact"
      class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
      Contact
    </a>
    <a href="noti.html"
      class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
      Notification Setting
    </a>
    <div>
      {% if session.logged_in %}
      <a href="{{ url_for('logout') }}"
        class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
        Logout
      </a>
      {% else %}
      <a href="{{ url_for('login') }}"
        class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
        Login
      </a>
      {% endif %}
    </div>
  </nav>
</div>

    <!-- Header -->
    <nav class="fixed z-10 w-full p-4 bg-gray-700">
      <div class="flex flex-wrap items-center justify-between">
        <div class="flex items-center flex-shrink-0 mr-6 text-white">
          <span class="text-xl font-semibold tracking-tight mx-14"
            >Hong Kong Flood</span
          >
        </div>
      </div>
    </nav>

    <!-- Main Content -->
   
      <!-- Top black area-->
      <div class="h-[55px] bg-gray-700"></div>
      <!-- Title-->
     
      <!-- Table-->
      <div class="flex items-center justify-center h-screen bg-gray-100">
        <div class="p-8 bg-white rounded shadow-md w-96">
            <h1 class="text-2xl font-bold">Login</h1>
            {% if error %}
                <div class="mt-4 text-red-500">{{ error }}</div>
            {% endif %}
            <form action="/login" method="POST" class="mt-4">
                <div>
                    <label for="username" class="block text-sm font-medium text-gray-700">Username</label>
                    <input type="text" name="username" id="username" class="block w-full p-2 mt-1 border border-gray-300 rounded-md">
                </div>
                <div class="mt-4">
                    <label for="password" class="block text-sm font-medium text-gray-700">Password</label>
                    <input type="password" name="password" id="password" class="block w-full p-2 mt-1 border border-gray-300 rounded-md">
                </div>
                <div class="mt-4">
                    <button type="submit" class="w-full px-4 py-2 text-white bg-gray-600 rounded-md hover:bg-gray-900">Login</button>
                </div>
            </form>
        </div>
    </div>
            
  <script src="{{ url_for('static', filename='script.js') }}"></script>

    
  </body>
</html>
