<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Notification Setting</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="font-sans leading-normal tracking-normal bg-gray-100">
        <!-- Menu Button -->
        <button
            id="sidebar-toggle"
            class="text-white focus:outline-none bg-gray-700 p-2.5 fixed top-2.5 left-2.5 z-30"
        >
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"></path>
            </svg>
        </button>
        <!-- Sidebar -->
        <div id="sidebar"
            class="fixed inset-y-0 left-0 z-20 w-64 px-2 space-y-6 transition-transform duration-500 ease-in-out transform -translate-x-full bg-white shadow-md py-7"
            style="will-change: transform">
            <a href="#" class="flex items-center px-4 space-x-2 text-gray-800">
                <span class="mt-10 text-2xl font-medium">Menu</span>
            </a>
            <!-- Sidebar content -->
            <nav class="text-base text-black">
                <a href="rainfallmap.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                    Rainfall Map
                </a>
                <a href="weather_forecast.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                    Weather Forecast
                </a>
                <a href="history.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                    Historical data
                </a>
                <a href="faq.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                    FAQ
                </a>
                <a href="contact.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                    Contact
                </a>
                <a href="noti.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                    Notification Setting
                </a>
                <div>
                    {% if session.logged_in %}
                    <a href="{{ url_for('logout') }}"
                        class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                        Logout
                    </a>
                    {% else %}
                    <a href="{{ url_for('login') }}"
                        class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700">
                        Login
                    </a>
                    {% endif %}
                </div>
            </nav>
        </div>

        <!-- Header -->
        <nav class="fixed z-10 w-full p-4 bg-gray-700">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center flex-shrink-0 mr-6 text-white">
                    <span class="text-xl font-semibold tracking-tight mx-14"
                        >Hong Kong Flood</span
                    >
                </div>
            </div>
        </nav>

        <!-- main content-->
        <main
            class="p-8 duration-500 ease-in-out transition-padding"
            id="main-content"
            style="will-change: padding"
        >
            <div
                class="flex flex-col items-center justify-center min-h-screen p-6"
            >
                <div
                    class="w-full max-w-lg p-8 space-y-6 bg-white rounded-lg shadow-lg"
                >
                    <h1 class="text-3xl font-bold text-center">
                        Notifications Preferences
                    </h1>
                    <p class="text-sm text-gray-600">
                        We can send you notifications for severe weather alerts,
                        such as heavy rain and flood warning.
                    </p>

                    <div class="space-y-4">
                        <form
                            action="{{ url_for('submit_preferences') }}"
                            method="post"
                        >
                            <div>
                                <label
                                    for="location"
                                    class="block text-sm font-medium text-gray-700"
                                    >Select Your Location</label
                                >
                                <select
                                    id="location"
                                    name="location"
                                    class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                >
                                    <!-- <option value="islands">Islands</option>
                                    <option value="kwai_tsing">
                                        Kwai Tsing
                                    </option>
                                    <option value="north">North</option>
                                    <option value="sai_kung">Sai Kung</option>
                                    <option value="sha_tin">Sha Tin</option>
                                    <option value="tai_po">Tai Po</option>
                                    <option value="tsuen_wan">Tsuen Wan</option>
                                    <option value="tuen_mun">Tuen Mun</option>
                                    <option value="yuen_long">Yuen Long</option>
                                    <option value="kowloon_city">
                                        Kowloon City
                                    </option>
                                    <option value="kwun_tong">Kwun Tong</option>
                                    <option value="sham_shui_po">
                                        Sham Shui Po
                                    </option>
                                    <option value="wong_tai_sin">
                                        Wong Tai Sin
                                    </option>
                                    <option value="yau_tsim_mong">
                                        Yau Tsim Mong
                                    </option>
                                    <option value="central_and_western">
                                        Central and Western
                                    </option>
                                    <option value="eastern">Eastern</option>
                                    <option value="southern">Southern</option>
                                    <option value="wan_chai">Wan Chai</option> -->
                                    <!-- option for Cheung Chau, HK International Airport, HK Observatory, Lau Fau Shan, Peng Chau -->
                                    <option value="cheung_chau">
                                        Cheung Chau
                                    </option>
                                    <option value="hk_international_airport">
                                        HK International Airport
                                    </option>
                                    <option value="hk_observatory">
                                        HK Observatory
                                    </option>
                                    <option value="lau_fau_shan">
                                        Lau Fau Shan
                                    </option>
                                    <option value="peng_chau">Peng Chau</option>
                                </select>
                            </div>
                            <div>
                                <label
                                    for="name"
                                    class="block text-sm font-medium text-gray-700"
                                    >Name</label
                                >
                                <input
                                    type="name"
                                    id="name"
                                    name="name"
                                    class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                />
                            </div>
                            <div>
                                <label
                                    for="email"
                                    class="block text-sm font-medium text-gray-700"
                                    >Email</label
                                >
                                <input
                                    type="email"
                                    id="email"
                                    name="email"
                                    class="block w-full px-3 py-2 mt-1 bg-white border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm"
                                />
                            </div>
                            <fieldset>
                                <legend
                                    class="text-base font-medium text-gray-700 mt-7"
                                >
                                    Alert Setting
                                </legend>
                                <div class="flex items-center mt-4">
                                    <label
                                        for="rainfall"
                                        class="flex-grow text-sm font-medium text-gray-700"
                                        >Rainfall Precipitation</label
                                    >
                                    <input
                                        type="checkbox"
                                        id="rainfall"
                                        name="rainfall"
                                        class="w-6 h-6 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
                                    />
                                </div>
                                <div class="flex items-center mt-4">
                                    <label
                                        for="flood"
                                        class="flex-grow text-sm font-medium text-gray-700"
                                        >Flood Warning</label
                                    >
                                    <input
                                        type="checkbox"
                                        id="flood"
                                        name="flood"
                                        class="w-6 h-6 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
                                        checked
                                    />
                                </div>
                            </fieldset>
                            <button
                                type="submit"
                                class="flex items-center justify-center w-full px-4 py-2 mt-5 text-sm font-medium text-white bg-indigo-600 border border-transparent rounded-md shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                            >
                                Submit
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
