<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Weather Forecast</title>
        <link
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
            rel="stylesheet"
        />
    </head>
    <body class="font-sans leading-normal tracking-normal bg-gray-100">
        <!-- Menu Button -->
        <button
            id="sidebar-toggle"
            class="text-white focus:outline-none bg-gray-700 p-2.5 fixed top-2.5 left-2.5 z-30"
        >
            <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                <path d="M3 6h18v2H3V6zm0 5h18v2H3v-2zm0 5h18v2H3v-2z"></path>
            </svg>
        </button>

        <!-- Sidebar -->
        <div
            id="sidebar"
            class="fixed inset-y-0 left-0 z-20 w-64 px-2 space-y-6 transition-transform duration-500 ease-in-out transform -translate-x-full bg-white shadow-md py-7"
            style="will-change: transform"
        >
            <a href="#" class="flex items-center px-4 space-x-2 text-gray-800">
                <span class="mt-10 text-2xl font-medium">Menu</span>
            </a>
            <!-- Sidebar content -->
            <nav class="text-base text-black">
                <a
                    href="warning.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Warning
                </a>
                <a
                    href="weather_forecast.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Weather Forecast
                </a>
                <a
                    href="history.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Historical data
                </a>
                <a
                    href="faq.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    FAQ
                </a>
                <a
                    href="contact.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Contact
                </a>
                <a
                    href="noti.html"
                    class="flex items-center justify-center px-10 py-5 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Notification Setting
                </a>
                <a
                    href="admin_access.html"
                    class="flex items-center justify-center px-10 py-5 mt-20 text-sm border-t border-b border-gray-300 hover:border-l-4 hover:border-gray-700"
                >
                    Admin Page
                </a>
            </nav>
        </div>

        <!-- Header -->
        <nav class="fixed z-10 w-full p-4 bg-gray-700">
            <div class="flex flex-wrap items-center justify-between">
                <div class="flex items-center flex-shrink-0 mr-6 text-white">
                    <span class="text-xl font-semibold tracking-tight mx-14"
                        >Hong Kong Flood</span
                    >
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main
            class="p-8 duration-500 ease-in-out transition-padding"
            id="main-content"
            style="will-change: padding"
        >
            <!-- Top black area-->
            <div class="h-[55px] bg-gray-700"></div>
            <!-- User Management title-->
            <div
                class="p-5 mx-10 mt-8 text-xl font-bold border-b border-gray-700"
            >
                9 Days Forecasts
            </div>
            <div><a href="admin_page_alert.html"> admin page alert </a></div>
            <!-- User Management table-->
            <div class="p-3 mx-8 mt-5 overflow-hidden">
                <!-- Inside weather_forecast.html -->
                <table
                    class="w-full border border-collapse border-gray-800 table-auto"
                >
                    <thead>
                        <tr>
                            <th class="border border-gray-800">Date</th>
                            <th class="border border-gray-800">
                                Max Temp (°C)
                            </th>
                            <th class="border border-gray-800">
                                Min Temp (°C)
                            </th>
                            <th class="border border-gray-800">Max RH (%)</th>
                            <th class="border border-gray-800">Min RH (%)</th>
                            <th class="border border-gray-800">Weather</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for forecast in forecasts %}
                        <tr>
                            <td class="border border-gray-800">
                                {{ forecast['Date'] }}
                            </td>
                            <td class="border border-gray-800">
                                {{ forecast['Max Temp'] }}
                            </td>
                            <td class="border border-gray-800">
                                {{ forecast['Min Temp'] }}
                            </td>
                            <td class="border border-gray-800">
                                {{ forecast['Max RH (%)'] }}
                            </td>
                            <td class="border border-gray-800">
                                {{ forecast['Min RH (%)'] }}
                            </td>
                            <td class="border border-gray-800">
                                {{ forecast['Weather'] }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <!-- Alter history title-->
            <div
                class="pb-2 pl-5 mx-10 mt-10 text-xl font-bold border-b border-gray-700"
            >
                Alert History
            </div>
            <!-- History data-->
            <div class="mx-10 overflow-hidden">
                <!-- Alert Item -->
                <div
                    class="flex items-center px-4 py-1 mt-3 space-x-3 border border-gray-500 rounded"
                >
                    <div class="text-red-500">
                        <ion-icon name="alert-circle" size="large"></ion-icon>
                    </div>
                    <p class="flex-grow text-sm font-semibold text-red-500">
                        Heavy Rain Advisory In Effect From Early This Afternoon
                        (03/28) Through This Evening (03/28)
                    </p>
                    <div class="text-gray-700">
                        <ion-icon
                            name="chevron-forward-outline"
                            size="large"
                        ></ion-icon>
                    </div>
                </div>
            </div>
            <!-- History data based on prediction-->
            <div class="mx-10 overflow-hidden">
                {% if prediction == '1' %}
                    <div class="flex items-center px-4 py-1 mt-3 space-x-3 border border-gray-500 rounded">
                        <div class="text-red-500">
                            <ion-icon name="alert-circle" size="large"></ion-icon>
                        </div>
                        <p class="flex-grow text-sm font-semibold text-red-500">
                            High risk of flood. Take necessary precautions.
                        </p>
                    </div>
                {% else %}
                    <div class="flex items-center px-4 py-1 mt-3 space-x-3 border border-gray-300 rounded">
                        <div class="text-green-500">
                            <ion-icon name="checkmark-circle" size="large"></ion-icon>
                        </div>
                        <p class="flex-grow text-sm font-semibold text-green-500">
                            No flooding issues detected.
                        </p>
                    </div>
                {% endif %}
            </div> 
        </main>

        <script
            type="module"
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
        ></script>
        <script
            nomodule
            src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
        ></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
        <!-- <script src="mainpage.js"></script> -->
    </body>
</html>
